.main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    text-align: center;
    border-radius: 31px;

}
.singup{
    color:rgb(59, 119, 249) ;
}
.all{
    width: 900px;
    margin: 40px auto;
}
.text{
    margin-left: 20px;
    
}
.ima{
    background-color: rgb(182, 203, 250);
    border-radius: 20px;
    
}
.photooo{
    width: 400px;
    margin-top: 80px;
    margin-right: 40px;
    margin-left: -4%;
}