.mainia{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    text-align: center;
    border-radius: 31px;
    overflow-x: hidden;
    height: 650px;
}
.singup{
    color:rgb(59, 119, 249) ;
}
.alled{
    width: 900px;
    margin: 40px auto;
}
.texted{
    margin-left: 20px;
    
}
.ima{
    background-color: rgb(182, 203, 250);
    border-radius: 20px;
    
}
.photooo{
    width: 400px;
    margin-top: 80px;
    margin-right: 40px;
    margin-left: -4%;
}
.submite{
    border: none;
    padding: 12px 19px;
    font-weight: 700;
    color: white;
    background-color: #613DC1;
    border-radius: 12px;
    margin-top: 5px;
    margin-bottom: 10px;
    width: 45%;
    transition: all 0.3s linear;
    box-shadow:  15px 15px 10px #a1a1a1,
                 -15px -15px 10px #ffffff;
}
.submite:hover{
    background-color: #B6CBFA;
    color: black;
}

@media only screen and (max-width: 600px) {
    .alled{
        width: auto;
    }
    .mainia{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        height: 1100px;
    }
    .ima{
        width: 98%;
    }
    .texted{
        margin-top: 20px;
        margin-right:30px;

    }
}