.icn{
    font-size: 70px;
    justify-content: center;
    color: rgba(255, 0, 0, 0.664);
}
.titlecar{
    border-radius: 10px;
background: linear-gradient(145deg, #f0f0f0, #cacaca);
box-shadow:  6px 6px 17px #7d7d7daf,
             -6px -6px 27px #ffffff; 
}