

.main{
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    grid-gap: 10px;
    text-align: center;
    border-radius: 31px;
    overflow-x: hidden;
    height: 620px;
}
.singup{
    color: black;
}
.all{
    width: 900px;
    height: 1000px;
    margin: 40px auto;
}
.text{
    margin-left: 20px;
}
.imag{
    background-color: rgb(182, 203, 250);
    border-radius: 20px;
    
}
.photooo{
    width: 400px;
    margin-top: 80px;
    margin-right: 40px;
    margin-left: -4%;
}



input{
    border: none;
    border-bottom: 1px solid lightslategray;
    margin-bottom: 10px;
    margin-top: 20px;
    padding: 10px;
}
.forget-msg{
    margin: 30px 0px;
}
.forget{
    border: none;
    font-size: 20px;
}

@media only screen and (max-width: 600px) {
    .all{
        width: auto;
    }

    .main{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        height: 1000px;
    }
    .text{
        margin-right:80px;
    }
    .imag{
        width: 100%;
        margin-bottom: 8%;
    }
}